[submodule "OS-ABI-Library"]
	path = OS-ABI-Library
	url = https://github.com/bcrew1375/OS-ABI-Library.git
[submodule "OS-Root-Task"]
	path = OS-Root-Task
	url = https://github.com/bcrew1375/OS-Root-Task.git
